@import '~bootstrap/scss/bootstrap';

/* navigation bar */
.navbar-brand.navBrandText{
  color: $blue-400;
}
.navbar-brand.navBrandText:hover{
  color: $blue-400;
}
.navbar-toggler.navBtn{
  color: $gray-100;
}
.navbar-toggler.navBtn > span.navbar-toggler-icon{
  filter: invert(100%);
}

/* menu list */
ul.navbar-nav > li.nav-item > *.navLink {
  color: $gray-100;
}
ul.navbar-nav > li.nav-item > *.navLink:hover {
  color: $blue-400;
}
ul.navbar-nav > li.nav-item > *.navLink:active {
  color: $gray-900;
}
ul.navbar-nav > li.nav-item > *.navLink:focus {
  color: $blue-400;
}

/* device list */
div.d-flex > div.d-flex{
  background-color: $blue-400;
}
div.d-flex > div.d-flex >button.nav-link{
  color: $gray-100;
}
div.d-flex > div.d-flex > button.nav-link:hover{
  color: $gray-900;
}
div.d-flex > div.d-flex > button.nav-link:active{
  color: $blue-400;
}
div.d-flex > div.d-flex > div.list-group > button.list-group-item.list-group-item-action{
  background-color: $blue-400;
}
div.d-flex > div.d-flex > div.list-group > button.list-group-item.list-group-item-action{
  color: $gray-100;
}
div.d-flex > div.d-flex > div.list-group > button.list-group-item.list-group-item-action:hover{
  color: $gray-900;
}
div.d-flex > div.d-flex > div.list-group > button.list-group-item.list-group-item-action:active{
  color: $blue-400;
}
/* btn-selected */
div.d-flex > div.d-flex >button.nav-link.btn-selected{
  color: $gray-500;
}
div.d-flex > div.d-flex > div.list-group > button.list-group-item.list-group-item-action.btn-selected{
  color: $gray-500;
}